.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f4f6; /* bg-gray-100 */
  padding: 1.5rem; /* p-6 */
  border-radius: 0.375rem; /* rounded-lg */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
}

.title {
  font-size: 1.125rem; /* text-lg */
  margin-bottom: 1rem; /* mb-4 */
  font-weight: 600; /* font-semibold */
  color: #60a5fa; /* text-blue-400 */
}

.form {
  width: 100%; /* w-full */
  max-width: 28rem; /* max-w-md */
}

.label {
  display: block;
  color: #4b5563; /* text-gray-700 */
  font-size: 0.875rem; /* text-sm */
  font-weight: 700; /* font-bold */
  margin-bottom: 0.5rem; /* mb-2 */
}

.input {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* shadow */
  appearance: none;
  border: 1px solid #d1d5db; /* border-gray-300 */
  border-radius: 0.375rem; /* rounded */
  width: 100%; /* w-full */
  padding: 0.5rem 0.75rem; /* py-2 px-3 */
  color: #374151; /* text-gray-700 */
  line-height: 1.25; /* leading-tight */
  outline: none; /* focus:outline-none */
  transition: box-shadow 0.2s; /* focus:shadow-outline */
}

.input:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); /* focus:shadow-outline */
}

.selectWrapper {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* shadow */
  appearance: none;
  border: 1px solid #d1d5db; /* border-gray-300 */
  border-radius: 0.375rem; /* rounded */
  width: 100%; /* w-full */
  padding: 0.5rem 0.75rem; /* py-2 px-3 */
  color: #374151; /* text-gray-700 */
  line-height: 1.25; /* leading-tight */
  outline: none; /* focus:outline-none */
  transition: box-shadow 0.2s; /* focus:shadow-outline */
}

.select {
  width: 100%; /* w-full */
  background-color: transparent; /* bg-transparent */
  border: none; /* border-none */
  outline: none; /* focus:outline-none */
}

.button {
  background-color: #ec4899; /* bg-pink-500 */
  color: #ffffff; /* text-white */
  font-weight: 700; /* font-bold */
  padding: 0.5rem 1rem; /* py-2 px-4 */
  border-radius: 0.375rem; /* rounded */
  outline: none; /* focus:outline-none */
  transition: background-color 0.2s; /* hover:bg-blue-700 */
}

.button:hover {
  background-color: #3b82f6; /* hover:bg-blue-700 */
}

.message {
  margin-top: 1rem; /* mt-4 */
  color: #ef4444; /* text-red-500 */
}

.edits {
  margin-top: 20px;
  color: blue
}

.edits h3 {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}

.edits .edit {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edits .edit h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.edits .edit p {
  margin-bottom: 5px;
}

.edits .edit .text-sm {
  font-size: 14px;
  color: #666;
}